{% extends 'base.html.twig' %}

{% block title %}Agenda test | Add event{% endblock %}

{% block body %}

    <div class="page-wrapper">
        <h1>Add new agenda event</h1>

        {{ form(form) }}

        <a href="{{ path('agenda')}}">Back to agenda</a>

    </div>
{% endblock %}
